.headerContainer{
  margin: 0 auto;
  height: 100%;
  width: 100%;
  padding: 1rem .1rem;
  display: flex;
  max-height: 500px;
  justify-content: center;
}
.logo {
  height: 3.2rem;
  order: -1;
}
.title {
  font-size: 1.45em;
  padding: 0 0 0 1px;
  line-height: 2rem;
  letter-spacing: 2.2px;
  margin: auto 0;
  order: 10;
}
.link {
  text-decoration: none;
}
@media screen and (min-width: 420px) {
  .logo {
    height: 10rem;
  }
  .title {
    font-size: 2.95em;
    padding: 0 0 0 8px;
    line-height: 2.6rem;
    letter-spacing: 2.2px;
  }
}
@media screen and (min-width: 669px) {
  
}