.featureContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
}
.feature {
  text-align: center;
}
.featureLink {
  width: 260px;
  height: 100px;
  margin: 0 auto 5em auto;
}
.image {
  display: block;
  border: 4px solid white;
  max-width: 100%;
}
