.cols {
  display: flex;
}
.rhCol {
  flex: 3;
  margin: auto;
}
.lhCol {
  flex: 1;
}
.link {
  color: #35c3e3;
}
.sectionHeading {
  margin: 0 0 5px 0;
}
.lhColSection {
  margin-bottom: 25px;
}
.resourceLink {
  margin: .4em 0;
}